<div class="alert alert-danger">
  <h1>Aanvraag mislukt</h1>
{% spaceless %}
<p>
{% if error == 'invalid_request' %}
  The request is missing a required parameter, includes an
  invalid parameter value, includes a parameter more than
  once, or is otherwise malformed.
{% elseif error == 'unauthorized_client' %}
  The client is not authorized to request an authorization
  code using this method.
{% elseif error == 'access_denied' %}
  The resource owner or authorization server denied the
  request.
{% elseif error == 'unsupported_response_type' %}
  The authorization server does not support obtaining an
  authorization code using this method.
{% elseif error == 'invalid_scope' %}
  The requested scope is invalid, unknown, or malformed.
{% elseif error == 'server_error' %}
  The authorization server encountered an unexpected
  condition that prevented it from fulfilling the request.
  (This error code is needed because a 500 Internal Server
  Error HTTP status code cannot be returned to the client
  via an HTTP redirect.)
{% elseif error == 'temporarily_unavailable' %}
  The authorization server is currently unable to handle
  the request due to a temporary overloading or maintenance
  of the server.  (This error code is needed because a 503
  Service Unavailable HTTP status code cannot be returned
  to the client via an HTTP redirect.)
{% elseif error == 'invalid_grant' %}
  The provided authorization grant (e.g., authorization
  code, resource owner credentials) or refresh token is
  invalid, expired, revoked, does not match the redirection
  URI used in the authorization request, or was issued to
  another client.
{% elseif error == 'unsupported_grant_type' %}
  The authorization grant type is not supported by the
  authorization server.
{% elseif error == 'invalid_state' %}
  The response of the server contained a tracking number that was
  not recognized.
{% elseif error == 'invalid_login' %}
  Cannot associate this response with the originally intended action. Perhaps
  you took too long to login (there's a 10 minute limit)
{% else %}
  Unkown error: <code>{{ error }}</code>
  {% set error="unknown" %}
{% endif %}
</p>
<p class="text_muted">
  Error name: {{ error }}
</p>
{% endspaceless %}
</div>