<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="site-footer-col-logo">
        <a href="{{ route('home') }}" class="site-footer-logo">
          <span class="sr-only">Schakel Marketeers</span>
        </a>
      </div>
      <div class="site-footer-col-address">
          <address class="footer-address">Sassenstraat 33</address>
          <address class="footer-address">8011 PB Zwolle</address>
      </div>
      <div class="site-footer-col-contact">
          <address>
            <a class="footer-contact" href="mailto:info@schakelmarketeers.nl">info@schakelmarketeers.nl</a>
          </address>
          <address>
            <a class="footer-contact" href="tel:0383032663">038 303 26 63</a>
          </address>
        </div>
      </div>
    </div>
  </div>
</footer>
